.section-one{
	height: 400px;
}
.portrait{
	position: relative;
	display: block;
	top: .1rem;
	margin: 0 auto;
	width: 200px;
	height: 200px;
}
.header{
	color: #ffffff;
}
.parallax-container{
	overflow: visible;
	display: block;
}
.parallax{
	z-index: 0;
	padding-top: 0rem;
}
.name{
	position: relative;
	font-size: 32px;
	/*bottom: -1rem;*/
	top: 12rem;
}
.title{
	position: relative;
	font-size: 1.6rem;
	background-color: #880E4F;
	width: 288px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin: auto;
	/*margin-top: 5px;*/
	/*bottom: -1.5rem;*/
	top: 4rem;
}
.info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 0rem;
}
.who-am-i{
	position: relative;
	display: flex;
	justify-content: center;
	bottom: 2rem;
	/*margin: 0 auto;*/
}
.hex{
	background: url("../../assets/images/hexellence.png");
	width: 100%;
	height: 100%;
}
h2{
	font-size: 3rem;
}
.bio{
	font-size: 17px;
	font-weight: 400;
	color: #424242;
}
/* need equally spaced margins left and right of rows. still wonky */
a img{
	display: block;
	border-radius: 5px;
	border-color: #C6C8CC;
	border-style: solid;
	border-width: 1px;
}
.parallax img{
	display: block;
	position: absolute;
	left: initial;
	bottom: initial;
	width: 250px;
	height: 200px;
	min-width: initial;
	min-height: initial;
	transform: translateX(0);
}

/* HOVER EFFECT ON LINKS. DARKEN */
/* need to contain hover to image, not including padding */
span.text-content{
	background: rgba(0, 0, 0, 0.5);
	color: white;
	cursor: pointer;
	display: table;
	height: 200px;
	position: relative;
	width: 250px;
	opacity: 0;
	border-radius: 5px;
}
span.text-content span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.col:hover span.text-content{
	opacity: 1;
}
.apps{
	box-sizing: border-box;
	padding: 0rem;
}
.portfolio{
	display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    -webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
    align-items: center;     /* center items horizontally, in this case */
    -webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
    height: 100%;
    padding: 1rem;
}

/*http://stackoverflow.com/questions/19026884/flexbox-center-horizontally-and-vertically/33049198#33049198*/
#app{ 
    margin: 1rem;
}
.linkedin-box:before{
	content: url(../images/linkedin-box.png);
	position: absolute;
	left: 6px;
	top: 1px;
	/*change size and center*/
}
.github-box:before{
	content: url(../images/github-box.png);
	position: absolute;
	left: 6px;
	top: 1px;
}
.resume-box:before{
	content: url(../images/resume-box.png);
}
.btn-floating{
	margin: 0.3rem;
}
footer.page-footer{
	margin-top: 0px;
	text-align: center;
	color: #424242;
	padding-top: 10px;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}
@media(max-width: 993px){
	.portfolio{
		display: block;
	}
	.apps{
		height: 900px;
	}
}
@media(max-width: 600px){
	.portfolio{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.apps{
		height: 1700px;
	}
}


